;
; redis-oled-display.conf - for supervisord configuration file
;
; install
;     $ sudo apt-get install supervisor
;     $ cd ~/work/redis-oled-display/
;     $ sudo cp redis-oled-display.conf.sample /etc/supervisor/conf.d/redis-oled-display.conf
;     $ sudo vi /etc/supervisor/conf.d/redis-oled-display.conf
;       (fix path, etc...)
;     $ sudo supervisorctl reread
;     $ sudo supervisorctl add redis-oled-display
;     $ sudo supervisorctl status
;     redis-oled-display                  RUNNING    pid 8192, uptime 0:00:30
;
; see also
;     Supervisor: A Process Control System
;     http://supervisord.org/
;
[program:redis-oled-display]
command         = /home/pi/work/redis-oled-display/redis-oled-display
numprocs        = 1
autostart       = true
autorestart     = true
user            = root
environment     = HOME=/home/pi/
redirect_stderr = true
stdout_logfile  = /dev/null
